<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" name="username"/>
            <input type="password" name="pass"/>
            <input type="submit"/>
        </form>
        <p style="color:red">{{error}}</p>
    </body>
</html>